body {
    font-family: 'Open Sans', sans-serif;
    width:100%;
    overflow-x:hidden;
    margin:0;
    padding:0;
}
.header {
    display:block;
    height:10vh;
    width:100%;
    background-color:white;
    position:fixed;
    z-index:1;
    box-shadow:0px 0.5em 1em #00000010;
}
.header .img {
    display:block;
    position:fixed;
    float: left;

    margin:1vh 1vh;
    width:8vh;
    height:8vh;
}
.header .buttons {
    margin:1vh 30vh;
    width:8vh;
    height:8vh;
}
.header .button {
    font-size:1.5em;
    font-weight:bold;
    margin-top:5vh;
}
img {
    display:inline-block;
    width:100%;
}
.en :lang(th) {
  display: none;
}
.th :lang(en) {
  display: none;
}
p {
    font-size:1em;
}
h1 {
    font-size:2.5em;

    text-align:center;
}
h2 {
    font-size:1.9em;

    font-weight:normal;
    letter-spacing:-0.05em;
    color:#888888;
}
h3 {
    font-size:1.5em;

    text-align:center;
    font-weight:normal;
}
.wrap {
    display:block;
    margin-top:0;
    margin-left:auto;
    margin-right:auto;
    max-width:70em;
    border:0px;
    padding-left:5%;
    padding-right:5%;
}
.box {
    display:inline-block;
    position:absolute;
    left:0em;
    right:0em;

    margin:auto;
    max-width:24em;
    height:32em;
    border:10em;

    border-radius:10px;
    box-shadow:0px 0.2em 1em #dddddd;
}
.box .wrap {
    display:block;

    margin:20px;
    border:20em;
    padding-top:10px;
}
.box img {
    width:100%;
    position:static;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    padding-bottom:10px;
}
