html, body {
    font-family: 'Open Sans', sans-serif;
    width:100%;
    overflow-x:hidden;
    position:relative;
    margin:0;
    padding:0;
}
.header {
    display:block;
    height:8vh;
    width:100%;
    border-bottom:1px solid #dddddd;
    background-color:white;
    position:fixed;
    z-index:2;
    box-shadow:0 0em 1em #00000010;
}
.header .logo {
    display:block;
    position:fixed;
    left:0;

    margin:0.5vh 0.5vh;
    width:7vh;
    height:7vh;
}
.header .menu-img {
    display:none;
    position:absolute;
    right:0;

    margin:0.5vh 2vh;
    width:3vh;
    height3vh;
}
.header .buttons {
    display:block;
    margin:auto;
    margin-top:2vh;
    margin-left:20vw;
}
.header .button {
    display:inline-block;
    cursor:pointer;
    margin-top:1vh;
    margin-left:2vw;

    padding-top:1vw;

    font-size:1.1em;
    font-weight:600;
    letter-spacing:-0.03em;
    text-align:center;
}
img {
    display:inline-block;
    width:100%;
}
.en :lang(th) {
  display:none;
}
.th :lang(en) {
  display:none;
}
a:visited {
  color:black;
}
a:hover{
  color:#555555;
}
a:active, a:focus {
  color:#a33035;
}
p {
    font-size:1em;
}
h1 {
    font-size:2.5em;
    font-weight:600;

    text-align:center;
}
h2 {
    font-size:1.9em;

    font-weight:normal;
    letter-spacing:-0.03em;
    color:#888888;
}
h3 {
    font-size:1.3em;

    text-align:center;
    font-weight:normal;
}
.wrap {
    display:block;
    margin-top:0;
    margin-left:auto;
    margin-right:auto;
    max-width:70em;
    border:0px;
    padding-left:5%;
    padding-right:5%;
}
.box {
    display:inline-block;
    position:absolute;
    left:0em;
    right:0em;

    margin:auto;
    max-width:24em;
    height:32em;
    border:10em;

    border-radius:10px;
    box-shadow:0 0.2em 1em #dddddd;
}
.box .wrap {
    display:block;

    margin:20px;
    border:20em;
    padding-top:10px;
}
.box img {
    position:static;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    padding-bottom:10px;
}
@media only screen and (max-width: 950px) { 
  #d-width { 
      display:none; 
  } 
  #m-width {
      display:inline-block;
      position:fixed;
      right:0;
      margin:-1.5vh 0vh;
      padding:3vh 3vh;
  }
  #m-btn {
      display:block;
      font-size:1.5em;
      color:white;
  }
  #m-obj {
      display:inline-block;
  }
  #btn-menu {
      display:inline-block;
  }

