body {
    font-family: 'Open Sans', sans-serif;
    padding: 0px;
}
body.en :lang(th) {
  display: none;
}
body.th :lang(en) {
  display: none;
}
p {
    font-size:1em;
}
h1 {
    font-size:2.5em;

    text-align:center;
}
h2 {
    font-size:1.9em;

    font-weight:normal;
    letter-spacing:-0.05em;
    color:#888888;
}
h3 {
    font-size:1.9em;

    text-align:center;
    font-weight:normal;
    letter-spacing: -0.05em;
}
div.wrap {
    display:block;
    margin-top:0;
    margin-left:auto;
    margin-right:auto;
    max-width:76em;
    border:0px;
    padding-left:5%;
    padding-right:5%;
}
div.box {
    display:inline-block;
    position:absolute;
    left:0em;
    right:0em;

    margin:auto;
    max-width:25em;
    border:10em;
    padding-bottom:0;

    border-radius:10px;
    box-shadow:0px 1em 2em #dddddd;
}
.box .wrap {
    display:block;

    height:15em;
    margin-left:40px;
    margin-right:40px;
    border: 20em;
}
img.box {
    width:100%;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
}
